@model IEnumerable<EVrtic.Models.Obavijest>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Naslov)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sadrzaj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatumKreiranja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatumSlanja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KanalSlanja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusObavijesti)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Roditelj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Odgajatelj)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naslov)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sadrzaj)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatumKreiranja)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatumSlanja)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KanalSlanja)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusObavijesti)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Roditelj.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Odgajatelj.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
