@model EVrtic.Models.DnevniIzvjestaj

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DnevniIzvjestaj</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Datum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Datum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Obrok)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Obrok)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusObroka)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusObroka)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpavanjeMinuta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpavanjeMinuta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VrijemeDolaska)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VrijemeDolaska)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VrijemeOdlaska)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VrijemeOdlaska)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NapomenaAktivnosti)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NapomenaAktivnosti)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatumKreiranja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatumKreiranja)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dijete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dijete.IdentifikacioniKod)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
