@model EVrtic.Models.Dijete

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Dijete</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImePrezime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImePrezime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdentifikacioniKod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdentifikacioniKod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DodatnaNapomena)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DodatnaNapomena)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aktivno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aktivno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Grupa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Grupa.ImeGrupe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Roditelj)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Roditelj.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
